# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Visual Studio / JetBrains
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Other
*.pidb
*.booproj
*.svd

# Crash and profiler data
sysinfo.txt
*.stacktrace
